.pointer {
	cursor: pointer;
}

.back-escurecido {
	color: grey;
	opacity: 0.4;
}

.load {
	top: 0px !important;
	left: 0px !important;
	width: 100% !important;
	height: 100% !important;
	position: fixed !important;
	display: flex !important;
	flex-direction: column;
	align-items: center !important;
	justify-content: center !important;
	opacity: 1 !important;
	z-index: 99999 !important;
}
.lds-dual-ring {
	opacity: 1;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid black;
	border-color: #00897b transparent #00897b transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.lsd-message {
	position: relative;
	padding: 0.5rem 0.75rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	background-color: #00897b;
	color: white;
	border-color: #00897b transparent #00897b transparent;
}

input.material {
	background-color: transparent !important;
	border: none !important;
	border-bottom: 1px solid #9e9e9e !important;
	border-radius: 0 !important;
	outline: none !important;
	height: 38px !important;
	width: 100% !important;
	font-size: 16px !important;
	margin: 0 0 8px 0 !important;
	padding: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
	-webkit-transition: border 0.3s, -webkit-box-shadow 0.3s !important;
	transition: border 0.3s, -webkit-box-shadow 0.3s !important;
	transition: box-shadow 0.3s, border 0.3s !important;
	transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s !important;
}
